.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

.cart-item-count {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 1px;
    background-color: #ff523b;
    font-size: 18px;
    font-weight: 600;
}

.cart-item-count:hover {
    background-color: #9e1604;
    color: #ffff;
}

.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: transparent;
    border-color: #cccccc;
}

.btn-submit:hover {
    background-color: #090909 !important;
}